@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
      font-family: 'NeogramDemiBold';
      src: url('@/fonts/NeoGramTrial-DemiBold.otf') format('opentype');
      font-weight: 400;
      font-style: normal;
    }
  
    @font-face {
      font-family: 'NeogramBlackit';
      src: url('@/fonts/NeoGramTrial-Blackit.otf') format('opentype');
      font-weight: 700;
      font-style: normal;
    }  

    @font-face {
      font-family: 'NeogramBlackExtended';
      src: url('@/fonts/NeoGramTrial-BlackExtended.otf') format('opentype');
      font-weight: 700;
      font-style: normal;
    } 
  }